<html>

    <head><title>{{.Loc.S "Signup"}}</title></head>

    <body>

	<div>

	    <form id="form" method="post">
		
		<table>

		    <tr>
			<td>
			    <label for="username">{{.Loc.S "Username"}}</label>
			</td>
			<td>
			    <input id="username" type="text" placeholder="{{.Loc.S "Enter username"}}" name="username" required="required">
			</td>
		    </tr>

		    <tr>
			<td>
			    <label for="password">{{.Loc.S "Password"}}</label>
			</td>
			<td>
			    <input id="password" type="password" placeholder="{{.Loc.S "Enter password"}}" name="password" required="required">
			</td>
		    </tr>

		    <tr>
			<td></td>
			<td>
			    <input id="password2" type="password" placeholder="{{.Loc.S "Repeat password"}}" name="password2" required="required">
			</td>
		    </tr>

		    <tr>
			<td colspan="3" align="right">
			    <input id="token" type="text" name="token" hidden required="required" value="{{.Token}}" />
			    <button id="submit" type="submit">{{.Loc.S "Register"}}</button>
			</td>
		    </tr>
		    
		</table>

	    </form>

	    <ul style="list-style: none; padding-left: 0;" id="errors"/>
	    
	</div>

	<script>	 
	 document.getElementById("username").focus();

	 document.getElementById('form').onsubmit = function() {
	     let result = true
	     if(document.getElementById('password').value != document.getElementById('password2').value) {
		 const li = document.createElement("li");
		 li.innerText = "Passwords do not match"
		 document.getElementById('errors').appendChild(li);
		 result = false;
	     }
	     if (document.getElementById('username').value.length < 5) {
		 const li = document.createElement("li");
		 li.innerText = "Username too short"
		 document.getElementById('errors').appendChild(li);
		 result = false;
	     }
	     if (document.getElementById('password').value.length < 5) {
		 const li = document.createElement("li");
		 li.innerText = "Password too short"
		 document.getElementById('errors').appendChild(li);
		 result = false;
	     }	     
	     if (document.getElementById('token').value.length < 1) {
		 const li = document.createElement("li");
		 li.innerText = "Undefined signup token"
		 document.getElementById('errors').appendChild(li);
		 result = false;
	     }
	     return result
	 };
	</script>

    </body>
    
</html>
