<!DOCTYPE html>
<html>

    <head><title>{{.Loc.S "Login"}}</title></head>

    <body>
	<div>
	    <form method="post">
		
		<table>
		    <tr>
			<td>
			    <label for="username">{{.Loc.S "Username"}}</label>
			</td>
			<td>
			    <input id="username" type="text" placeholder="{{.Loc.S "Enter username"}}" name="username" required="required">
			</td>
		    </tr>

		    <tr>
			<td>
			    <label for="password">{{.Loc.S "Password"}}</label>
			</td>
			<td>
			    <input id="password" type="password" placeholder="{{.Loc.S "Enter password"}}" name="password" required="required">
			</td>
		    </tr>

		    <tr>
			<td colspan="2" align="right">
			    <button type="submit">{{.Loc.S "Login"}}</button>
			</td>
		    </tr>		    
		</table>

	    </form>	    
	    
	</div>

	<script>
	 document.getElementById("username").focus();
	</script>

    </body>
    
</html>
